@model airtton.ViewModel.BaseMetalProductsSummaryViewModel
@{
    ViewBag.Title = "MetalProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">@Model.Title</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">首页</a></li>
            <li><a href="@Url.Action("MetalProducts", "Base")">基地</a></li>
            <li class="active">@Model.Title</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<!--=== Content Part 1 ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <p>@Model.Content</p><br>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/assets/img/clients1/Base/MetalProducts/MetalProduct-1.jpg" alt="">
        </div>
    </div>
</div>
<!--=== End Content Part 1 ===-->

<!--=== Content Part 2 ===-->
<div class="bg-grey">
    <div class="container content-sm">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">生产设备展示</h2>
        </div>
        <div class="row news-v1">
            <div class="col-md-3 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/MetalProducts/MetalProduct-3.1.jpg" rel="gallery1" class="fancybox img-hover-v1" title=""> 
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/MetalProducts/MetalProduct-3.1.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/MetalProducts/MetalProduct-3.2.jpg" rel="gallery1" class="fancybox img-hover-v1" title="">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/MetalProducts/MetalProduct-3.2.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/MetalProducts/MetalProduct-4.1.jpg" rel="gallery1" class="fancybox img-hover-v1" title="">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/MetalProducts/MetalProduct-4.1.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/MetalProducts/MetalProduct-4.2.jpg" rel="gallery1" class="fancybox img-hover-v1" title="">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/MetalProducts/MetalProduct-4.2.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <br />
        <div class="row news-v1">
            <div class="col-md-3 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/MetalProducts/MetalProduct-5.1.jpg" rel="gallery1" class="fancybox img-hover-v1" title="">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/MetalProducts/MetalProduct-5.1.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/MetalProducts/MetalProduct-5.2.jpg" rel="gallery1" class="fancybox img-hover-v1" title="">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/MetalProducts/MetalProduct-5.2.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/MetalProducts/MetalProduct-5.3.jpg" rel="gallery1" class="fancybox img-hover-v1" title="">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/MetalProducts/MetalProduct-5.3.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Content Part 2 ===-->
