@model airtton.ViewModel.BasePrecisionMachinerySummaryViewModel
@{
    ViewBag.Title = "PrecisionMachinery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">@Model.Title</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">首页</a></li>
            <li><a href="@Url.Action("PrecisionMachinery", "Base")">生产基地</a></li>
            <li class="active">@Model.Title</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<!--=== Content Part 1 ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <p>@Model.Content</p><br>

        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-1.jpg" alt="">
        </div>
    </div>
</div>
<!--=== End Content Part 1 ===-->

<!--=== Content Part 2 ===-->
<div class="bg-grey">
    <div class="container content-sm">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">设备展示</h2>
        </div>
        <div class="row news-v1">
            <div class="col-md-6 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-3.1.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-3.1.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-3.2.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-3.2.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <br />
        <div class="row news-v1">
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-2.1.jpg.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-2.1.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-2.2.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-2.2.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-2.3.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-2.3.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <br />
        <div class="row news-v1">
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-4.1.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-4.1.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-4.2.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-4.2.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-4.3.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-4.3.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Content Part 2 ===-->

<!--=== Content Part 3 ===-->
<div class="bg-grey">
    <div class="container content-sm">
        <div class="row news-v1">
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.1.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.1.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.2.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.2.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.3.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.3.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <br />
        <div class="row news-v1">
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.4.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.4.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.5.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.5.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.6.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.6.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Content Part 3 ===-->
