@model airtton.ViewModel.BasePrecisionStampingSummaryViewModel
@{
    ViewBag.Title = "PrecisionStamping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">@Model.Title</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">首页</a></li>
            <li><a href="@Url.Action("PrecisionStamping", "Base")">生产基地</a></li>
            <li class="active">@Model.Title</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<!--=== Content Part 1 ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <p>@Model.Content</p><br>

        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionStampingWorkshop/Precision-1.jpg" alt="">
        </div>
    </div>
</div>
<!--=== End Content Part 1 ===-->

