@model IEnumerable<airtton.ViewModel.HonorSummaryViewModel>
@{
    ViewBag.Title = "Honor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">九鼎荣誉</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">首页</a></li>
            <li><a href="@Url.Action("Honor", "AboutUs")">走进九鼎</a></li>
            <li class="active">九鼎荣誉</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->
<!--=== Container Part ===-->
<div class="container content-sm">
    <div class="text-center">
        <h2 class="title-v2 title-center">九鼎荣誉</h2>
        <p>北京九鼎通信设备有限公司</p>
    </div>

    <!-- Cube Portfolio -->
    <div class="cube-portfolio container margin-bottom-20">

        <div id="grid-container" class="cbp-l-grid-gallery cbp cbp-caption-active cbp-caption-overlayBottomPush cbp-ready cbp-cols-3" style="height: 494px;">
            <div class="cbp-wrapper-outer">
                <div class="cbp-wrapper">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4 ">
                                <div class="cbp-item illustration web-design" style="width: 373px; position:relative">
                                    <div class="cbp-item-wrapper">
                                        <a class="cbp-caption cbp-singlePageInline">
                                            <div class="cbp-caption-defaultWrap">
                                                <img src="@item.ImageUrl" alt="">
                                            </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignLeft">
                                                    <div class="cbp-l-caption-body">
                                                        <div class="cbp-l-caption-title">@item.Title</div>
                                                        <div class="cbp-l-caption-desc">@item.Description</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div><!--/end Grid Container-->
    </div>
    <!-- End Cube Portfolio -->
</div>
<!--=== End Container Part ===-->