@model IEnumerable<airtton.ViewModel.HonorSummaryViewModel>
@{
    ViewBag.Title = "Honor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Honor</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Honor", "AboutUs")">About Us</a></li>
            <li class="active">Honor</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->
<!--=== Container Part ===-->
<div class="container content-sm">
    <div class="text-center">
        <h2 class="title-v2 title-center">Jiuding Honors</h2>
        <p>Beijing Jiuding Communication Equipment Co., Ltd.</p>
    </div>

    <!-- Cube Portfolio -->
    <div class="cube-portfolio container margin-bottom-20">

        <div id="grid-container" class="cbp-l-grid-gallery cbp cbp-caption-active cbp-caption-overlayBottomPush cbp-ready cbp-cols-3" style="height: 494px;">
            <div class="cbp-wrapper-outer">
                <div class="cbp-wrapper">


                    <div class="row">
                        @foreach (var item in Model)
                        {

                            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4 ">
                                <div class="cbp-item illustration web-design" style="width: 373px; position:relative">
                                    <div class="cbp-item-wrapper">
                                        <a class="cbp-caption cbp-singlePageInline">
                                            <div class="cbp-caption-defaultWrap">
                                                <img src="@item.ImageUrl" alt="">
                                            </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignLeft">
                                                    <div class="cbp-l-caption-body">
                                                        <div class="cbp-l-caption-title">@item.Title</div>
                                                        <div class="cbp-l-caption-desc">@item.Description</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>


                    @*<div class="cbp-item web-design logo" style="width: 373px; left: 383px; top: 0px;">
                            <div class="cbp-item-wrapper">
                                <a class="cbp-caption cbp-singlePageInline">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="~/assets/img/clients1/About/Honor/honor2.2.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignLeft">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Honor2</div>
                                                <div class="cbp-l-caption-desc">Honors from Government</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="cbp-item illustration web-design" style="width: 373px; left: 766px; top: 0px;">
                            <div class="cbp-item-wrapper">
                                <a class="cbp-caption cbp-singlePageInline">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="~/assets/img/clients1/About/Honor/honor2.3.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignLeft">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Honor3</div>
                                                <div class="cbp-l-caption-desc">Honors from Government</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="cbp-item web-design illustration" style="width: 373px; left: 0px; top: 252px;">
                            <div class="cbp-item-wrapper">
                                <a class="cbp-caption cbp-singlePageInline">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="~/assets/img/clients1/About/Honor/honor2.4.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignLeft">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Honor4</div>
                                                <div class="cbp-l-caption-desc">Honors from Government</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="cbp-item web-design graphic" style="width: 373px; left: 383px; top: 252px;">
                            <div class="cbp-item-wrapper">
                                <a class="cbp-caption cbp-singlePageInline">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="~/assets/img/clients1/About/Honor/honor2.5.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignLeft">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Honor5</div>
                                                <div class="cbp-l-caption-desc">Honors from Government</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="cbp-item illustration web-design graphic" style="width: 373px; left: 766px; top: 252px;">
                            <div class="cbp-item-wrapper">
                                <a class="cbp-caption cbp-singlePageInline">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="~/assets/img/clients1/About/Honor/honor2.6.jpg" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignLeft">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">Honor6</div>
                                                <div class="cbp-l-caption-desc">Honors from Government</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>*@

                </div>
            </div>
        </div><!--/end Grid Container-->
    </div>
    <!-- End Cube Portfolio -->
</div>
<!--=== End Container Part ===-->