@model airtton.ViewModel.CareerSummaryViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">人才招聘</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">首页</a></li>
            <li class="active"><a href="@Url.Action("Index","Career")">人才招聘</a></li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<!--=== Container Part ===-->
<div class="container content">

    <!-- Left Inner -->
    <div class="left-inner">

        <h3>@Model.JobTitle</h3>
        <p>工作地点: @Model.Location</p>
        <p>经验要求: @Model.Experience</p>
        <p>学历要求: @Model.Education</p>
        <p>工作类型: @Model.WorkType</p>
        <p>需要人数: @Model.VacancyNubmer</p>
        <p>发布时间: @Model.CreateDate</p>
        <p>职位描述: @Model.Description</p>
        <hr>

        <h3>任职资格</h3>
        <ul class="list-unstyled">
            <li>@Model.Qualification</li>
        </ul>

       </div>
    <!-- End Left Inner -->
    <hr>

    <h6>如果您对该职位感兴趣，请将您的简历发送至以下邮箱：info@jiuding-bj.com</h6>
   
</div>
<!--=== End Container Part ===-->
