@model IEnumerable<airtton.ViewModel.CareerSummaryViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">人才招聘</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">首页</a></li>
            <li class="active"><a href="@Url.Action("Index","Career")">人才招聘</a></li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<div class="container content">
    <!-- Easy Blocks v1 -->
    <div class="row high-rated margin-bottom-20">

        <div class="row">
            <!-- Begin Easy Block -->
            @foreach (var item in Model)
            {
                
                <div class="col-md-3 col-sm-6 md-margin-bottom-40">
                    <div id="SeniorMgt" class="easy-block-v2">
                        <div class="easy-bg-v2 rgba-default">最新</div>
                        <h3>@item.JobTitle</h3>
                        <ul class="list-unstyled">
                            <li class="invisible">@item.ID</li>
                            <li><span class="color-green">工作地点:</span> @item.Location</li>
                            <li><span class="color-green">经验要求:</span> @item.Experience</li>
                            <li><span class="color-green">需要人数:</span> @item.VacancyNubmer</li>
                            <li><span class="color-green">发布时间:</span> @item.CreateDate</li>
                        </ul>
                        <a class="btn btn-u btn-u-sm" href="@Url.Action("Detail","Career",new { id=item.ID })">详细内容</a>
                       
                    </div>
                </div>
            }
           
            <!-- End Begin Easy Block -->
          
        </div>

    </div>
    <!-- End Easy Blocks v1 -->
</div>



